@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap");
$greenlike: #00a39a;
$open-sans: "Open Sans", sans-serif;
$manrope: "Manrope", sans-serif;
$brand-size: 1.5rem;
$link-size: 1.25rem;
$nav-link-color: #eeeeee;
$button-color: #00a39a;
$button-text-color: #ffffff;
$card-image-background: linear-gradient(
  134.64deg,
  #03837c -0.15%,
  #42fff4 100.24%
);
$header-color: #03182e;
$sub-header-color: rgba(4, 23, 42, 0.54);
