.why-choose {
  background: #ffffff;
  padding: 5% 0 1% 0;
  h2 {
    font-weight: 800;
    font-size: 3rem;
    width: 40%;
    text-align: center;
    margin: auto;
  }
  .chose-cards {
    margin: 60px 0;
  }
  .chose-card {
    margin: 20px 0;
  }
  .chose-card,
  .subdiv {
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .subdiv {
    margin-top: 10px;
    padding: 2% 7%;
    p {
      font-size: 1rem;
      color: #04172a;
      line-height: 1.5;
    }
    img {
      margin-top: -40px;
    }
  }
  @media (max-width: 991px){
      h2 {
        width: 60%;
        font-size: 1rem;
  }
  .subdiv {
    p {
      font-size: 0.8rem;
    }
  }
}
}