.sign-up-div{
    @include backgroundImg("../images/signin/group.png");
    .introdiv {
        background-color: #000000;
        padding: 0 2% 0 2%;
        opacity: 0.9;
      }
      .sign-up-form{
        display: flex;
        justify-content: center;
        padding: 2% 5% 10%;
        form{
            background: #ffffff;
            padding: 1% 2%;
            text-align: center;
            width: 500px;
            height: 934px;
            margin: 80px 0 0;
            font-family: $poppins;
            color: #2D2D2D;
            h3{
                margin: 20px 0 40px;
                font-weight: 600;
                font-size: 24px;
            }
            input[type="email"], input[type="password"], input[type="text"], .myselect{
                border: 1px solid #454545;
                box-sizing: border-box;
                border-radius: 10px;
                margin: 10px 0;
                width: 386px;
                height: 56px;
                padding: 10px;
                outline: none;
            }
            .myselect{
                padding: 10px 0 10px 10px;
                margin: auto;
                color: #A0A0A0;
            }
            button{
                width: 200px;
                height: 46px;
                background: $button-color;
                border-radius: 10px;
                outline: none;
                border: none;
                color: $button-text-color;
                margin-bottom: 60px;
                font-weight: 600;
                margin: 50px 0;
            }
            .or{
                font-size: 1rem;
                color: #2D2D2D;
                position: relative;
                margin-bottom: 60px;
            }
            .or:before{
                display: block;
                content: "";
                width: 140px;
                height: 0;
                border: 1px solid #454545;
                position: absolute;
                top: 10px;
                left: 30px;
            }
            .or:after{
                display: block;
                content: "";
                width: 140px;
                height: 0;
                border: 1px solid #454545;
                position: absolute;
                top: 10px;
                right: 30px;
            }
            .check{
                display: flex;
                justify-content: flex-start;
                width: 386px;
                font-size: 12px;
                margin: 8px auto 0;
            }
            label{
                margin-left: 13px;
                margin-top: -2px;
            }
            .github{
                margin-left: 100px;
            }
            span{
                font-size: 18px;
            }
            .no-account{
                margin: 30px 0;
                font-size: 1rem;
                a{
                    color: $button-color;
                }
            }
        }
        } 
        @media (max-width: 500px){
            .sign-up-form{
                form{
                    width: 350px;
                    input[type="email"], input[type="password"], input[type="text"], .myselect, .check{
                        width: 250px;
                        font-size: 0.6rem;
                    }
                    .or:before, .or.or:after{
                        width: 70px;
                    }
                    .github{
                        margin-left: 50px;
                    }
                    .no-account{
                        font-size: 0.7rem;
                    }
                    span{
                        font-size: 0.6rem;
                    }
                }    
                    
            }
        } 
}